.button-content {
    max-width: 100%;
    margin: 0 auto;
}

.display-container:hover .display-hover {
    display: block
}

.display-container:hover span.display-hover {
    display: inline-block
}

.button:hover {
    color: #000!important;
    background-color: #ccc!important
}

#burgerIcon {
    width: 75px;
    position: fixed;
    margin: 10px 10px;
    right: -10px;
    top: 10px;
    cursor: pointer;
}

.burger-img , .burger-img2 {
    width: 85%;
}

.button-left {
    border: none;
    display: inline-block;
    outline: 0;
    padding: 25% 7%;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: darkred;
    border-top-right-radius: 90px;
    border-bottom-right-radius: 90px;
    background-color: white;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;

}


.button-right {
    border: none;
    display: inline-block;
    outline: 0;
    padding: 25% 7%;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: darkred;
    border-top-left-radius: 90px;
    border-bottom-left-radius: 90px;
    background-color: white;
    text-align: center;
    cursor: pointer;
    white-space: nowrap
}

.arrow-left {
width: 80%;
}

.arrow-right{
	width: 80%;
	transform: rotate(180deg);
}


.display-left {
    position: absolute;
    top: 40%;
    left: 0%;
    transform: translate(0%,-50%);
    -ms-transform: translate(-0%,-50%);
    background-color:white;
}

.display-right {
    position: absolute;
    top: 40%;
    right: 0%;
    transform: translate(0%,-50%);
    -ms-transform: translate(0%,-50%);
    background-color: white;
}

.display-left:hover {
    background: #ffffffa8;
}

.display-right:hover {
    background: #ffffffa8;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: rgb(255,255,255);
    background-color: rgba(255, 255, 255, 0.8);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    font-family: RobotoCondensed-Regular, sans-serif;
    position: relative;
    top: 25%;
    width: 100%;
    text-align: left;
    margin-top: 30px;
    padding-left: 25%;
}

.overlay-content a:hover {
    color: #FF0000!important;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 45px;
    color: black;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
	top: -30px;
    right: 10px;
    font-size: 80px;
    color: red;
}


.date {
    position: absolute;
    right: 3%;
    bottom: 20%;
    color: #fff;
}

.txt-date {
    font-family: RobotoCondensed-Regular, sans-serif;
    text-align: right;
    font-size: 40px;
    white-space: nowrap;
}

.txt-date-2 {
    font-family: RobotoCondensed-Light, sans-serif;
    font-size: 30px;
    letter-spacing: 5px;
}

.services-header {
    font-family: RobotoCondensed-Regular, sans-serif;
    font-size: 45px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 7px;
	margin: 0 0 50px 0;

}

.box-header {
    font-family: RobotoCondensed-Regular, sans-serif;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 7px;
    padding-bottom: 50px;
    margin-top: 50px;
    font-size: 40px;

}


.services-background {
	background-color: #EBE8DE;
    margin-bottom: 20px; 
	}

.services-img{
	width: 45%;
	display: block;
	margin:auto;
	padding: 40px 0 10px 0;
}

.bus-background {
	width: 100%;
	position: relative;
}


#googlemaps { 
 /* height: 90%;*/ 
 height: 770px;
  width: 100%; 
  position:absolute; 
  top: 0; 
  z-index: 0; 


}

.logo-img {
    width: 20%;
     position: absolute;
    color: white;
    text-transform: uppercase;
    margin-top: 20px;
    margin-left: 20px;
}


.bus-background {
    position: relative;
    background-image: url(../images/background-bus.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 260px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.bus {
    position: absolute;
    width: 100%;
    z-index: 2;
    animation:myfirst 10s  linear infinite;
   -moz-animation:myfirst 10s  linear infinite;
  -webkit-animation:myfirst 10s  linear infinite;
  margin-top: 75px;
}
@-moz-keyframes myfirst 
{
    0%   {right:-25%;}
    100% {right:100%;}
} 
@-webkit-keyframes myfirst
{
    0%   {right:-25%;}
    100% {right:100%;}
} 
@keyframes myfirst
{
    0%   {right:-25%;}
    100% {right:100%;}
} 

.radio-txt {
    font-family: RobotoCondensed-Regular, sans-serif;
    font-size: 16px;
    word-spacing: 30px;
    white-space: nowrap;
    letter-spacing: 2px;
    margin-left: 10px;
}
.chackbox-txt{
    font-family: RobotoCondensed-Regular, sans-serif;
    font-size: 17px;
    margin-left: 20px;
   

}



.contact-form input[type=text], input[type=email], textarea {
    width: 90%;
    padding: 10px 10px;
    margin: 6px 0;
    display: inline-block;
    border: 1px solid white;
    border-radius: 0px;
    box-sizing: border-box;
	background-color: #F2F2F2;
	color: #4D4D4D;
	font-size: 15px;
    /*margin-left: 20px;*/

}

input[type="radio"], input[type="checkbox"] {
    width: 20px;
    height: 20px;
    vertical-align: text-bottom;
}

.contact-form{
    padding-top: 340px;
}

#message-txt {
	 resize: none;
}

.adress-right{
	background-color: #FFFFFF;
    border: solid 1px #DFDFDF;
}


.checkbox-header{
    font-family: RobotoCondensed-Regular, sans-serif;
    font-size: 18px;
	margin-top: 100px;
    margin-bottom: 15px;
    white-space: nowrap;
    letter-spacing: 2px;

}


.contact-info {
    font-family: RobotoCondensed-Regular, sans-serif;
    font-size: 35px;
    text-transform: uppercase;

}

.contact-info2 {
    font-family: RobotoCondensed-Regular, sans-serif;
    font-size: 35px;
    margin-top: 135px;
    text-align: center
}

.contact-header {
    font-family: RobotoCondensed-Regular, sans-serif;
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 12px;
    margin-left: 20px; 
    white-space: nowrap;   
}

#submitBtn {
    font-family: RobotoCondensed-Regular, sans-serif;
    font-size: 15px;
    background: black;
    color: white;
    float: right;
    margin-right: 25px;
    margin-top: 30px;
    border: none;
    padding: 4px;
    letter-spacing: 3px;
}

.social-icon {
    border: solid #000000 1px;
    width: 40px;
    height: 40px;
    font-size: 18px;
    border-radius: 50px;
    padding-top: 10px;
    margin-right: 5px;
    font-weight: bold;
    color: #000000;   
    
}

.social-img {
    text-align: center;
    padding-bottom: 30px;
}
.social-img a, .social-img2 a {
    text-decoration: none;
}

.google-plus:hover {
      color: #DB4437;
}

.facebook:hover {
    color: #3b5998;
}

.twitter:hover {
    color: #1DA1F2;
}
.social-img2 {
    text-align: center;
    margin-top: 20px;
    white-space: nowrap;
}

.footer-txt {
    font-family: RobotoCondensed-Regular, sans-serif;
    font-size: 15px;
    line-height: 3;
}

.footer-txt2 {
    font-family: RobotoCondensed-Regular, sans-serif;
    font-size: 15px;
    float: right;
}

.validation-msg {
    margin-left: 23px;
    font-size: 12px;
    color: red;
}

.validation-msg-radio {
    font-size: 12px;
    color: green;
}

.validation-msg-gender {
    font-size: 12px;
    color: red;
}


@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media screen and (max-width: 991px) {
#submitBtn {
    float: left!important;
}
.adress-left {
    display: none;
}

.contact-info3 {
    font-family: RobotoCondensed-Regular, sans-serif;
    font-size: 30px;
    margin-top: 20px;
}

.adress-right {
    background: #EBE8DE;
}
.social-icon-txt{
    display: block!important;
}
.line-horizontal{
    display: block!important;
}
.bus-background {
    display: none;
}
.bus {
    display: none;
}

.txt-date {
    font-size: 25px;
}

.txt-date-2 {
    font-size: 25px;
}
}

@media screen and (min-width: 1400px) {
.bus-background{
        height: 360px;
     }

	
.bus {
margin-top:170px;
	}
}

@media screen and (max-width: 767px) {
    .checkbox-header {
        margin-top: 25px;
    }

    .services-header {
        font-size: 30px;
    }

    .burger-img {
        width: 65%;
    }

    .overlay a{
        font-size: 25px;
    }

    .overlay-content{
        top: 15%;
    }
}

@media screen and (max-width: 470px) {
    .contact-header {
        font-size: 25px;
    }
}